.App {
  background-color: transparent;
  background-image: var(--c-background-image);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center 0;

  height: 100vh;

  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: var(--c-text);
  box-shadow: 0 0 0 5ch black;

}

.Background {
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: var(--c-background-image);
	background-repeat: repeat;
	background-size:cover;
	filter: blur(5px);
	box-shadow: 0 0 0 1ch black;
	z-index: -1;
	animation: slidebck 200000ms infinite running;
}

@keyframes slidebck{
	from {
		background-position: 0 0;
	}
	50% {
		background-position: 0 -100vh;
	}
	to {
		background-position: 0 0;
	}
}